//-		mixin metaItems({
//-			allowIE8 	: <boolean>,
//-			html5shive	: <path to html5 (defaults to cdn)>
//-			author 		: <string>,
//-			title 		: <string>,
//-			description : <string>,
//-			designer 	: <string>,
//-			copyright 	: <string copyright holder's name>,
//-			facebook	: {
//-				title 		: <string>
//-				description	: <html string>
//-				image 		: <image path>
//-			},
//-			apple 		: <image path (directory only)>
//-			port 		: <viewport content>	
//-		})

mixin metaItems (options)
	meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")

	if options.allowIE8
		//if lt IE 7
			meta(http-equiv="refresh",content="0;url=http://browsehappy.com/")
		//if lt IE 9
			script(src="//html5shiv.googlecode.com/svn/trunk/html5.js",type='text/javascript')
	else
		//if lt IE 8
			meta(http-equiv="refresh",content="0;url=http://browsehappy.com/")

	noscript		
		meta(http-equiv="refresh",content="0;url=http://www.enable-javascript.com/")
	meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
	link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")

	if options.author
		meta(name="author",		content="#{options.author}")

	if options.title
		meta(name="title",		content="#{options.title}")

	if options.description
		meta(name="description",content="#{options.description}")

	if options.designer
		meta(name="designer",	content="#{options.designer}")

	if options.copyright
		meta(name="copyright",	content="#{options.copyright} copyright:2013")

	if options.facebook
		meta(property="og:title",		content="#{options.facebook.title}")
		meta(property="og:description",	content="#{options.facebook.description}")
		meta(property="og:image",		content="#{options.facebook.image}")
		link(rel="image_src",			content="#{options.facebook.image}")